* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
    width: 100%;
}

.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}

.board_list_head {
    border-top: 2px solid #e89980;
    border-bottom: 1px solid #ccc;
}

.board_list_body .item {
    border-bottom: 1px solid #ccc;
}

.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.board_list_head > div {
    font-weight: 100%;
}

.board_list .num {
    width: 10%;
    height: 10%;
}

.board_list .tit {
    width: 55%;
}

.board_list_body div.tit {
    text-align: left;
}

.board_list_body div.tit a:hover {
    text-decoration: underline;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 15%;
}

.board_list .view {
    width: 10%;
}

/* paging */
.paging {
    margin-top: 30px;
    text-align: center;
}

.paging a {
    display: inline-block;
    vertical-align: middle;
}

.paging a.bt {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image: url(../../../images/page_bt.png);
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}

.paging a.bt:hover {
    background-color: #999;
}

.paging a.first {
    background-position: 10px -40px;
}

.paging a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}

.paging a.next {
    margin-left: 5px;
    background-position: -40px 10px;
}

.paging a.last {
    background-position: -40px -40px;
}

.paging a.num {
    margin: 0 5px;
}

.paging a.num.on {
    color: #e89980;
}

.paging a.num:hover {
    text-decoration: underline;
}
/*admin_notice*/
.admin.board_list .num {
    width: 10%;
    height: 10%;
}

.admin.board_list .tit {
    width: 40%;
}

.admin.board_list_body div.tit {
    text-align: left;
}

.admin.board_list_body div.tit a:hover {
    text-decoration: underline;
}

.admin.board_list .writer {
    width: 10%;
}

.admin.board_list .date {
    width: 15%;
}

.admin.board_list .view {
    width: 10%;
}
.admin.board_list .admin_menu{
    width: 15%;
}
.admin .board_list_body .btn_box {
    width:15%;
    padding:0 15px;
}
.modify_btn{
    cursor:pointer;
    font-size:0.9em;
    border-radius: 5px;
    width:100%;
    margin:5px 0;
    color:rgb(102, 101, 101);
    font-weight: 100;
}
.admin .board_list_body .modified{
    background-color:rgb(255, 188, 112);
}
.admin .board_list_body .modified:hover{
    background-color:rgb(252, 173, 84);
    font-weight: bold;
}
.admin .board_list_body .item{
    padding:0;
    display:flex;
    align-items:center;
}
.admin .board_list_body .delete{
    background-color:rgb(247, 186, 186);
}
.admin .board_list_body .delete:hover{
    background-color:rgb(252, 161, 161);
    font-weight: bold;
}
.item_sample{
    display:none;
}
.box header{
    border:1px solid rgb(185, 181, 181);
    padding:1.5em;
    border-radius: 8px 8px 0 0;
}
.box header .notice_title{
    font-weight: bold;
    font-size:1.6em;
    color:black;
    margin:10px 0;
}
.box header .post_info{
    display:flex;
}
.box header .post_info .notice_writer{
    color:rgb(58, 57, 57);
}
.box header .post_info .notice_writer::after{
    content:"|";
    position: relative;
    bottom: 2px;
    color: gray;
    margin: 0 3px;
}
.box main{
    border:1px solid rgb(185, 181, 181);
    border-top:none;
    padding:3em;
    border-radius: 0 0 8px 8px;
    min-height: 40vh;
    color:rgb(14, 13, 13);
    font-size:1em;

}
.notice_back_btn{
    border:1px solid rgb(196, 196, 196);
    background-color: rgb(226, 226, 226);
    font-weight: bold;
    margin:10px;
    padding:2px 20px;
    border-radius: 10px;;
    font-size:0.9em;
    display:inline-flex;
    flex-direction: column-reverse;
    cursor:pointer;
    
}
.notice_back_btn:hover{
    background-color: rgb(221, 220, 220);
    
    
}
.notice_back_btn a{
    border:none;
}
.notice_back_btn a::before{
    content:"";
    background-image:url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/7.2.0/png/iconmonstr-arrow-left-alt-filled.png&r=0&g=0&b=0");
    background-repeat:no-repeat;
    background-size:20px 25px;
    position: relative;
    right:3px;
    top:1px;
    width:20px;
    height:20px;
    display:inline-block;
    /*content:url("http://dasima.xyz/wp-content/uploads/2018/10/css-background-image-ex-3.png")*/
    
}
.box footer{
    display:flex;
    flex-direction:row-reverse

}

